# Database
POSTGRES_CONNECTION_STRING=Host=your_host;Database=your_db;Username=your_user;Password=your_password;SSL Mode=Require;Trust Server Certificate=true;

# JWT
JWT_SECRET_KEY=YOUR_SUPER_SECRET_KEY_MIN_32_CHARS
JWT_ISSUER=BirMuhendisinGunlugu.API
JWT_AUDIENCE=BirMuhendisinGunlugu.Client
